<div class="component-root">
  <ng-container *ngIf="this.isLoaded === false; else headerDataLoaded">
    <common-titled-page-header title="Loading name ..."></common-titled-page-header>
  </ng-container>
  <ng-template #headerDataLoaded>
    <common-titled-page-header
      [title]="'Profile of ' + this.userNameOrDefault"
    ></common-titled-page-header>
  </ng-template>

  <div class="container">
    <ng-container *ngIf="this.isLoaded === false; else mainLoaded">
      <mat-spinner [diameter]="this.loaderSpinnerSize" class="main-spinner"></mat-spinner>
    </ng-container>
    <ng-template #mainLoaded>
      <main>
        <section>
          <h2 class="visually-hidden">User profile</h2>
          <view-user-page__profile [user]="this.user"></view-user-page__profile>
        </section>
        <section *ngIf="this.user.products.length">
          <h2 class="products-header">Products of {{ this.userNameOrDefault }}:</h2>
          <common-products-container [products]="this.user.products"></common-products-container>
        </section>
      </main>
    </ng-template>
  </div>
</div>
