<mat-card class="component-root">
  <div
    class="messages-container"
    #scrollContainer
    infiniteScroll
    [infiniteScrollThrottle]="100"
    [infiniteScrollUpDistance]="1"
    [scrollWindow]="false"
    (scrolledUp)="loadMore()"
  >
    <div class="messages-wrapper">
      <ng-template ngFor [ngForOf]="messages" let-message>
        <common-chat-text-message
          class="message"
          [ngClass]="getMessageClass(message)"
          [color]="getMessageColor(message)"
          [message]="message"
        >
        </common-chat-text-message>
      </ng-template>
    </div>
  </div>
</mat-card>
<div class="inner-shadow-top"></div>
