:host {
  display: flex;
  flex-direction: column;
}

.component-root {
  display: flex;
  flex-direction: column;

  padding: 0;

  // take available height
  flex-grow: 1;
}

.messages-container {
  position: relative;

  // vertical scroll
  overflow-y: auto;

  flex-grow: 1;
}

.messages-wrapper {
  position: absolute;

  width: 100%;
}

.messages-inner {
  display: flex;
  flex-direction: column-reverse;
}

.message {
  padding: 0.5rem 0;

  &__outgoing {
    margin-left: auto;
  }
}
