:host {
  display: block;
  height: 100%;
}

.sidebar {
  height: 100%;

  &__drawer {
    width: min(35rem, 80%);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    height: 100%;
  }

  &__internal-toggler {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }
  &__external-toggler {
    position: absolute;
    margin-left: 1.6rem;
  }
  &__header-wrapper {
    height: 8rem;
  }
  &__header-container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__header {
    display: block;
    font-size: 2.8rem;
    margin: 0;
    margin-left: 3.2rem;
  }
  &__sorting-select {
    width: 100%;
  }
}

.button-apply {
  display: block;
  margin: 0 auto;

  height: 6rem;
  width: 25rem;

  margin-bottom: 1rem;
}
