<p *ngIf="!author">loading ...</p>
<div *ngIf="author">
  <span class="author-description">Author: </span>
  <a
    class="author-link"
    mat-raised-button
    matTooltip="Go to author profile"
    matTooltipClass="tooltip"
    color="accent"
    [routerLink]="'/user/' + this.product.userId"
    aria-label="Go to author profile"
  >
    {{ this.getUserName() }}
  </a>
  <button
    class="author-message"
    *ngIf="canWriteMessage()"
    mat-raised-button
    color="accent"
    aria-label="Write message to author"
    matTooltip="Write message"
    matTooltipClass="tooltip"
  >
    <mat-icon>message</mat-icon>
  </button>
</div>
