<div class="component-root">
  <div *ngIf="this.loaded === false">
    <common-titled-page-header title="Loading product ..."></common-titled-page-header>
    <mat-spinner class="loader" [diameter]="getLoaderSpinnerDiameter()"></mat-spinner>
  </div>

  <div *ngIf="this.product">
    <common-titled-page-header [title]="this.product.name | titlecase" [titleLimit]="15">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Product actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <span class="spacer" role="none"></span>

      <data class="price" [value]="this.product.price">
        {{ this.productPriceString }}
      </data>
    </common-titled-page-header>
    <br />

    <div class="container publishing-info">
      <!-- Example -->
      <!-- Monday, 20 March 14:23 -->
      <p class="publishing-info__date">
        Published: {{ product.createdAt | date: "cccc, dd MMMM HH:mm" }}
      </p>
      <concrete-product-page-author [product]="this.product"></concrete-product-page-author>
    </div>
    <div class="container">
      <common-carousel [images]="this.product.imagesUrls"></common-carousel>
      <concrete-product-data-fields [product]="this.product"></concrete-product-data-fields>
    </div>
  </div>
</div>

<mat-menu #actionsMenu>
  <ng-template [ngIf]="product">
    <button
      class="menu-item"
      mat-menu-item
      aria-label="Copy product URL"
      (click)="this.copyUrlToClipboard()"
    >
      <mat-icon>share</mat-icon>
      <span>Copy Url</span>
    </button>
    <button
      class="menu-item"
      *ngIf="this.canDeleteProduct()"
      (click)="onDelete()"
      mat-menu-item
      aria-label="Delete product"
    >
      <mat-icon>delete_forever</mat-icon>
      <span>Delete</span>
    </button>
    <a
      class="menu-item"
      *ngIf="this.canUpdateProduct()"
      mat-menu-item
      aria-label="Edit product"
      [routerLink]="this.updateProductUrl"
    >
      <mat-icon>edit_note</mat-icon>
      <span>Update</span>
    </a>
  </ng-template>
</mat-menu>
