<div class="component-root">
  <!-- TODO: Place loading spinner -->
  <div *ngIf="this.loaded === false">
    <common-titled-page-header title="Loading product ..."></common-titled-page-header>
    <mat-spinner class="loader" [diameter]="getLoaderSpinnerDiameter()"></mat-spinner>
  </div>

  <div *ngIf="this.loaded">
    <common-titled-page-header [title]="this.product.name | titlecase">
      <button
        class="copy-to-clipboard"
        mat-icon-button
        matTooltip="Copy product URL"
        matTooltipClass="tooltip"
        aria-label="Copy product URL"
        (click)="this.copyUrlToClipboard()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <button
        *ngIf="this.canDeleteProduct()"
        (click)="onDelete()"
        mat-icon-button
        matTooltip="Delete product"
        matTooltipClass="tooltip"
        aria-label="Delete product"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <a
        *ngIf="this.canUpdateProduct()"
        mat-icon-button
        matTooltip="Edit product"
        matTooltipClass="tooltip"
        [routerLink]="this.updateProductUrl"
      >
        <mat-icon>edit_note</mat-icon>
      </a>
      <span class="spacer" role="none"></span>
      <data class="price" [value]="this.product.price">
        {{ this.productPriceString }}
      </data>
    </common-titled-page-header>
    <br />
    <common-themed-div>
      <div class="container publishing-info">
        <!-- Example -->
        <!-- Monday, 20 March 14:23 -->
        <p class="publishing-info__date">
          Published: {{ product.createdAt | date: "cccc, dd MMMM HH:mm" }}
        </p>
        <div class="publishing-info__author">
          <span class="publishing-info__author-description">Author: </span>
          <a
            class="publishing-info__author-link"
            mat-raised-button
            matTooltip="Go to author profile"
            matTooltipClass="tooltip"
            color="accent"
            [routerLink]="'/user/' + this.product.userId"
            aria-label="Go to author profile"
          >
            {{ this.userNameOrDefault }}
          </a>
          <a
            class="publishing-info__author-message"
            mat-raised-button
            color="accent"
            href="/users/mockid/write"
            aria-label="Write message to author"
            matTooltip="Write message"
            matTooltipClass="tooltip"
          >
            <mat-icon>message</mat-icon>
          </a>
        </div>
      </div>
    </common-themed-div>
    <div class="container">
      <common-carousel [images]="this.product.imagesUrls"></common-carousel>
      <common-title-text-card
        class="description"
        title="Description: "
        [text]="this.product.description ?? ''"
      ></common-title-text-card>
    </div>
  </div>
</div>
