<div class="component-root">
  <!-- TODO: Place loading spinner -->
  <div *ngIf="this.loaded === false">
    <common-titled-page-header title="Loading product ..."></common-titled-page-header>
    <mat-spinner class="loader" [diameter]="getLoaderSpinnerDiameter()"></mat-spinner>
  </div>

  <div *ngIf="this.loaded">
    <common-titled-page-header [title]="this.product.name | titlecase" [titleLimit]="15">
      <button
        class="copy-to-clipboard"
        mat-icon-button
        matTooltip="Copy product URL"
        matTooltipClass="tooltip"
        aria-label="Copy product URL"
        (click)="this.copyUrlToClipboard()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <button
        *ngIf="this.canDeleteProduct()"
        (click)="onDelete()"
        mat-icon-button
        matTooltip="Delete product"
        matTooltipClass="tooltip"
        aria-label="Delete product"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
      <a
        *ngIf="this.canUpdateProduct()"
        mat-icon-button
        matTooltip="Edit product"
        matTooltipClass="tooltip"
        [routerLink]="this.updateProductUrl"
      >
        <mat-icon>edit_note</mat-icon>
      </a>
      <span class="spacer" role="none"></span>
      <data class="price" [value]="this.product.price">
        {{ this.productPriceString }}
      </data>
    </common-titled-page-header>
    <br />

    <div class="container publishing-info">
      <!-- Example -->
      <!-- Monday, 20 March 14:23 -->
      <p class="publishing-info__date">
        Published: {{ product.createdAt | date: "cccc, dd MMMM HH:mm" }}
      </p>
      <concrete-product-page-author [product]="this.product"></concrete-product-page-author>
    </div>
    <div class="container">
      <common-carousel [images]="this.product.imagesUrls"></common-carousel>
      <concrete-product-data-fields [product]="this.product"></concrete-product-data-fields>
    </div>
  </div>
</div>
