<mat-card class="card">
  <div class="image-wrapper">
    <img class="image" [src]="getChatImage()" />
  </div>
  <div class="info">
    <p else withLastMessage class="name">
      {{ chat.chatName }}
    </p>
    <p *ngIf="chat.lastMessage" class="last-message">{{ chat.lastMessage }}</p>
    <common-themed-div
      *ngIf="chat.notViewedMessages"
      class="not-viewed-messages-badge"
      color="accent"
    >
      <div class="not-viewed-messages-text">{{ chat.notViewedMessages }}</div>
    </common-themed-div>
  </div>
</mat-card>
