:host {
  display: block;
  width: 100%;
  cursor: pointer;
}

// increase default 1 rem size
:host ::ng-deep .filepond--root {
  font-size: 2rem;
}

:host ::ng-deep .filepond--item {
  // 1 columns on small screen
  width: calc(100% - 0.5em);

  // 2 columns
  @media (min-width: 50rem) {
    width: calc(50% - 0.5em);
  }

  // 3 columns
  @media (min-width: 80rem) {
    width: calc(33.33% - 0.5em);
  }

  margin-bottom: 1% !important;
}

:host ::ng-deep {
  .filepond--root {
    border-radius: 1rem;
    outline: 2px solid gray;
    overflow: hidden;
  }

  .filepond--panel-root,
  .filepond--image-preview {
    // makes pond component transparent instead white to fit theme
    background-color: transparent;
  }

  // gets color from outside instead default gray
  .filepond--drop-label {
    color: unset;

    // add pointer to drop title
    label {
      cursor: pointer;
    }
  }

  .filepond--item {
    cursor: default;
  }
  .filepond--list {
    cursor: default;
  }
}

// disable plugin advertisement
:host ::ng-deep .filepond--credits {
  display: none;
}
