.navbar {
  display: flex;
  justify-content: space-between;

  height: fit-content;
}
.message-container {
  display: inline-block;

  width: 100%;
  margin: 1.5rem 0;
}

.message-input {
  // disable default styles
  background-color: unset;
  border: unset;
  outline: unset;
  color: unset;
  overflow: hidden;

  font-size: 2rem;
  width: 100%;
}
