a {
  text-decoration: unset;
}

mat-card {
  padding: 0;
}

$border-size: 12px;
.card {
  border-radius: $border-size;

  &__image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image-content {
    border-top-left-radius: $border-size;
    border-top-right-radius: $border-size;

    display: block;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  &__text {
    padding: 0.5rem;

    margin-top: 1rem;
  }

  &__title {
    margin-top: 0.5rem;
    overflow: hidden;

    font-size: 1.4rem;
    text-overflow: ellipsis;
    text-decoration: none;
  }
}
