:host {
  display: block;

  max-width: 100vw;
}

.app-router {
  display: none !important;
}

.app-content {
  max-width: 100vw;

  min-height: calc(100vh - 6.4rem);
}

.background {
  position: fixed;
  z-index: -1;
  height: 100vh;
}
