<div class="component-root">
  <h2 class="dialog-title" mat-dialog-title>Login</h2>
  <div class="forms-container">
    <mat-error *ngIf="requestError">{{ requestError }}</mat-error>
    <form>
      <common-username-form-field [(model)]="this.usernameField"></common-username-form-field>
      <common-password-form-field [(model)]="this.passwordField"></common-password-form-field>
    </form>

    <div class="bottom-actions">
      <button
        class="bottom-action register-button"
        (click)="this.showRegisterDialogInstead()"
        mat-button
      >
        Create account
      </button>
      <button
        class="bottom-action"
        (click)="onLogin()"
        [disabled]="this.isFormValid() === false && this.loading === false"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
    </div>
  </div>

  <button
    class="close-button close-button--top"
    mat-icon-button
    mat-dialog-close
    aria-label="Close dialog"
  >
    <mat-icon [inline]="true" class="close-icon">close</mat-icon>
  </button>
</div>
