:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-icon {
  display: block;
  width: 100%;
  font-size: 25rem;
  height: 25rem;
  text-align: center;
}

.username-info {
  text-align: center;
}
