@import "~node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

// carousel container
.owl-carousel {
  position: relative;
}

// buttons container
.owl-nav {
  display: flex;

  margin: 0 !important;
}

// previous next buttons
.owl-prev,
.owl-next {
  top: calc(50%);
  transform: translateY(-50%);
  position: absolute;

  background-color: unset !important;

  // disable built indent
  margin: 0 !important;
  padding: 0 !important;

  width: 6rem;
  height: 6rem;

  &::before {
    // centralizing button content
    position: absolute;
    display: inline;

    text-shadow: 0px 0px 20px rgba(black, 0.5);

    font-size: 6.4rem;

    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.owl-prev {
  left: 0;
  font-size: 6.4rem !important;
  &::before {
    content: "<";
  }
}

.owl-next {
  right: 0;
  font-size: 6.4rem !important;
  &::before {
    content: ">";
  }
}

// previews container
.owl-dots {
  display: flex;

  // horizontal scroll
  overflow-x: auto;
  overflow-y: hidden;
}
.owl-dot {
  // animations for thumbnail activation
  transition: 0.2s;

  min-width: 10rem;
  width: 10rem;
  height: 10rem;
}
.owl-dot img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.owl-dot.active {
  filter: brightness(60%);
}

.owl-carousel .owl-item {
  display: block;
  width: 100%;
}

// set same size for content images
.owl-carousel .owl-item img {
  display: block;

  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: contain;
}
