<products-navbar></products-navbar>
<product-page-filters-sidebar #sidebar (onApply)="onFiltersApply($event)">
  <div class="container">
    <div class="search-container">
      <button
        class="filters-toggler"
        mat-raised-button
        color="accent"
        (click)="sidebar.toggleSidebar()"
      >
        <!-- Burger icon -->
        <mat-icon>dehaze</mat-icon>
        <span>Filters</span>
      </button>
      <products-page-search class="search" (onSearch)="onSearch($event)"></products-page-search>
    </div>

    <common-products-container
      class="card-container"
      [products]="(this.products$ | async) ?? []"
    ></common-products-container>
  </div>
  <common-paginator
    class="paginator"
    [totalItems]="this.totalProducts"
    [itemsPerPage]="this.pageSize"
    [currentPage]="this.pageIndex + 1"
    (onPageChange)="onPaginationUpdate($event)"
  ></common-paginator>
</product-page-filters-sidebar>
