@import "src/app/app/app.component.scss";
@import "src/styles/mixins.scss";
:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
  padding-top: 1rem;

  min-height: calc($content-height - 6.4rem);
}

.paginator {
  max-width: fit-content;

  margin: 1rem auto;
}

.search-container {
  display: flex;
  height: 6.6rem;
}
.products-container {
  margin-top: 1rem;
}

.filters-toggler {
  margin-right: 0.5rem;
  min-width: fit-content;
}

.spacer {
  flex: 1 1;
}

.no-products {
  width: fit-content;
  margin: 0 auto;

  &__icon {
    @include section-logo();
  }
  &__text {
    text-align: center;
  }
}
