<products-navbar></products-navbar>
<product-page-filters-sidebar>
  <div class="container">
    <mat-paginator
      class="paginator"
      [length]="this.totalProducts"
      [pageSize]="this.pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="this.onPaginationUpdate($event)"
    >
    </mat-paginator>

    <common-products-container
      class="card-container"
      [products]="(this.products$ | async) ?? []"
    ></common-products-container>
  </div>
  <!-- TODO: Add bottom pagination -->
</product-page-filters-sidebar>
