<mat-toolbar color="primary" class="navbar">
  <common-home-link></common-home-link>
  <nav aria-label="left navigation">
    <ul class="list list-horizontal">
      <li class="link-containter hidable">
        <common-products-link></common-products-link>
      </li>
    </ul>
  </nav>
  <span class="navbar__spacer" role="none"></span>
  <nav aria-label="right navigation">
    <ul class="list list-horizontal">
      <li class="link-container theme-toggler">
        <common-theme-toggler></common-theme-toggler>
      </li>
      <li class="link-container">
        <common-login-or-manage-button></common-login-or-manage-button>
      </li>
    </ul>
  </nav>
</mat-toolbar>
