.list {
  list-style: none;
  padding-left: 0;
}

.list-horizontal {
  display: flex;
}

.navbar {
  height: 6.4rem;
  &__spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }
}

.link-container {
  display: flex;
  align-items: center;
}

.hidable {
  @media screen and (max-width: 35rem) {
    display: none;
  }
}

.showable {
  @media screen and (min-width: 35rem) {
    display: none;
  }
}

.theme-toggler {
  &--nav {
    margin-right: 1rem;
  }
}
