@import "src/styles/mixins.scss";

.price-category-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  // display one item per line at small screen
  @media (max-width: 48rem) {
    min-height: 16rem;
    grid-template-columns: 1fr;
  }

  min-height: 8rem;
  grid-gap: 4%;
}

.category-field {
  margin-top: 4px;
}

.form-container {
  margin-top: 4rem;
}

.create-product-button {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  width: 65%;
  height: 8rem;
  &__text {
    font-size: min(8vw, 4.5rem);
  }
}

.section-logo {
  @include section-logo();
}

.description-field {
  margin-top: 1rem;
}
