$icon-shadow-selected: 2px 2px 10px rgba(black, 0.6);

.solid-background {
  background-color: rgba(black, 0.15);
}

.shadow-background {
  &.mat-icon-button {
    text-shadow: $icon-shadow-selected;
  }
}
