@import "src/styles/mixins.scss";

.loader {
  display: block;

  // at center with little margin
  margin: 0 auto;
  margin-top: 5rem;
}

.form-actions {
  width: 60%;
  margin: 0 auto;

  @media (min-width: 30rem) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }

  margin-bottom: 1rem;
}

.big-button {
  display: block;
  width: 100%;
  height: 8rem;

  margin-bottom: 1rem;
}

.section-logo {
  @include section-logo();
}

.progress-bar {
  margin-bottom: 1rem;
}
