<common-titled-page-header title="Edit account"></common-titled-page-header>
<div class="container">
  <mat-icon class="section-logo" color="primary">manage_accounts</mat-icon>
  <form *ngIf="this.loaded">
    <common-avatar-drag-and-drop
      #avatarDragAndDrop
      [user]="this.user"
    ></common-avatar-drag-and-drop>
    <common-user-name-form-field [(model)]="nameModel"></common-user-name-form-field>
    <common-multiline-field
      [(model)]="aboutModel"
      label="Tell about you"
      [maxLength]="500"
    ></common-multiline-field>

    <div class="form-actions">
      <button (click)="onDiscard()" mat-raised-button color="accent" type="button">Discard</button>
      <button (click)="onApply()" mat-raised-button color="primary" type="submit">Apply</button>
    </div>
  </form>
</div>
